@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: white;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 40px;
  padding-right: 162px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
}

.amin img {
  height: 60px;
  padding-left: 0px;
  padding-right: 47px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: ;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar a {
  display: block;
  color: #FB4F13;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 600;
}

.navbar a:hover,
.navbar a.active {
  background: #FB4F13;
  color: white;
}

/* Style for the dropdown */
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: px;
  box-shadow: ;
  border-radius: 0 0 20px 20px;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: ;
}

.dropdown-content a {
  color: #FB4F13;
  padding: 8px 10px;
  display: block;
  text-decoration: none;
  text-align: left;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-top: 5px;
}

.dropdown-content a:hover {
  background-color: #FB4F13;
  color: white;
}

.navigation a {
  text-decoration: none;
  color: #FB4F13;
  padding: 8px 10px;
  border-radius: 20px;
  font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
  background: #FB4F13;
  color: white;
}

.judul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.judul img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 3;
}

.spanduk {
  z-index: 5;
}

.judul h1 {
  position: absolute;
  font-size: 4em;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  top: 60vh;
  z-index: 3;
}

.judul h2 {
  position: absolute;
  font-size: 4em;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  top: 63vh;
  z-index: 3;
}

.gerbang {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24vh;
}

.pintu {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.dinding-bawah {
  position: relative;
  z-index: 50;
  padding-left: -5;
  top: 0;
  margin-left: -5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: fixed;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28vh;
}

.sec {
  position: absolute;
  background: #FAF0D7;
  padding: 100px 200px;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 138vh;
  overflow-y: auto;
}

.sec h2 {
  font-size: 2em;
  color: black;
  margin-bottom: 10px;
  line-height: 2;
  word-spacing: 2px;
}

.sec p {
  font-size: 1em;
  color: black;
  font-weight: 300;
}

#normal {
  text-align: justify;
  text-indent: 50px;
}

ol {
  list-style-type: decimal;
  margin-left: 40px;
  padding-left: 20px;
  line-height: 2;
}

.sec li {
  margin-top: 15px;
}

.sec list {
  line-height: 2;
  word-spacing: 2px;
}

.table-container {
  overflow: auto;
}

.logo {
  width: 180px;
}

.produk {
  width: 180px;
}

.poster-lain {
  height: 180px;
}

.container {
  position: relative;
  width: 180px;
  text-align: left;
  display: inline-block;
  margin-right: 20px;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(225, 225, 225);
  background: rgba(255, 255, 255, 0.8);
  width: 180px;
  height: auto;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 17px;
  padding: 17px;
  text-align: center;
  margin-bottom: 4px;
}

.container:hover .overlay {
  opacity: 1;
}

.container2 {
  position: relative;
  width: 180px;
  text-align: left;
  display: inline-block;
  margin-right: 20px;
}

.overlay2 {
  position: absolute;
  bottom: 0;
  background: rgb(225, 225, 225);
  background: rgba(255, 255, 255, 0.8);
  width: 272px;
  height: auto;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 17px;
  padding: 17px;
  text-align: center;
  margin-bottom: 4px;
}

.container2:hover .overlay2 {
  opacity: 1;
}

.poster {
  height: 250px;
}

.container3 {
  position: relative;
  width: 180px;
  text-align: left;
  display: inline-block;
  margin-right: 20px;
}

.overlay3 {
  position: absolute;
  bottom: 0;
  background: rgb(225, 225, 225);
  background: rgba(255, 255, 255, 0.8);
  width: 177px;
  height: auto;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 17px;
  padding: 17px;
  text-align: center;
  margin-bottom: 4px;
}

.container3:hover .overlay3 {
  opacity: 1;
}

.container4 {
  position: relative;
  width: 180px;
  text-align: left;
  display: inline-block;
  margin-right: 20px;
}

.overlay4 {
  position: absolute;
  bottom: 0;
  background: rgb(225, 225, 225);
  background: rgba(255, 255, 255, 0.8);
  width: 250px;
  height: auto;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 17px;
  padding: 17px;
  text-align: center;
  margin-bottom: 4px;
}

.container4:hover .overlay4 {
  opacity: 1;
}

mark {
  background-color: #FFA3AE;
  color: white;
  border-radius: 20px;
  padding: 3px 6px;
  font-style: bold;
}

.sec p {
  line-height: 2;
  word-spacing: 2px;
}

table, td {
  border: 1px solid;
  padding: 15px;
  border-collapse: collapse;
  line-height: 2;
  word-spacing: 2px;
}

.accordion {
  background-color: #FFC5CB;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 1em;
  font-weight: 300;
}

.accordion.active, .accordion:hover {
  background-color: #FFA3AE;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  text-align: justify;
  text-indent: 50px;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #FFC5CB;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#dafput {
  margin-left: 50px;
  text-align: justify;
  text-indent: -50px;
}

.anggota {
  height: 40vh;
}

#kursi {
  float: right;
  margin-top: 70px;
  margin-right: 140px;
}

#sapu {
  float: left;
}

#gas {
  float: right;
}

.card1 {
  margin-left: 130px;
  margin-top: 140px;
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s;

}

.card1 .circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.card1 .circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ACB8C0;
  clip-path: circle(100px at center);
  transition: 0.5s;
}

.card1:hover .circle:before {
  background: #FFEC56;
  clip-path: circle(200px at center);
}

.card1 .anggota {
  position: absolute;
  top: 20%;
  transform: translate(-62%, -50%);
  height: 295px;
  pointer-events: none;
  transition: 0.5s;
  float: left;
  margin-left: 130px;
  margin-top: 60px;
  border: 20px;
}

.card1:hover img {
  top: -25%;
}

.card1 .content {
  position: relative;
  width: 50%;
  padding: 120px 10px 15px 15px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card1:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.card1 .content h2 {
  
}

.card2 {
  margin-left: 580px;
  margin-top: -50px;
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.card2 .circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.card2 .circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ACB8C0;
  clip-path: circle(100px at center);
  transition: 0.5s;
}

.card2:hover .circle:before {
  background: #FFEC56;
  clip-path: circle(200px at center);
}

.card2 .anggota {
  position: absolute;
  top: 20%;
  transform: translate(-8%, -48%);
  height: 320px;
  pointer-events: none;
  transition: 0.5s;
}

.card2:hover img {
  top: -25%;
}

.card2 .content {
  position: relative;
  width: 50%;
  padding: 120px 10px 15px 15px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card2:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.card3 {
  margin-left: 130px;
  margin-top: -20px;
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.card3 .circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.card3 .circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ACB8C0;
  clip-path: circle(100px at center);
  transition: 0.5s;
}

.card3:hover .circle:before {
  background: #FFEC56;
  clip-path: circle(200px at center);
}

.card3 .anggota {
  position: absolute;
  top: 20%;
  transform: translate(7%, -25%);
  height: 250px;
  pointer-events: none;
  transition: 0.5s;
}

.card3:hover img {
  top: -25%;
}

.card3 .content {
  position: relative;
  width: 50%;
  padding: 120px 10px 15px 15px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card3:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.card4 {
  margin-left: 580px;
  margin-top: -20px;
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.card4 .circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.card4 .circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ACB8C0;
  clip-path: circle(100px at center);
  transition: 0.5s;
}

.card4:hover .circle:before {
  background: #FFEC56;
  clip-path: circle(200px at center);
}

.card4 .anggota {
  position: absolute;
  top: 20%;
  transform: translate(5%, -27%);
  height: 275px;
  pointer-events: none;
  transition: 0.5s;
}

.card4:hover img {
  top: -25%;
}

.card4 .content {
  position: relative;
  width: 50%;
  padding: 120px 10px 15px 15px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card4:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.refleksi {
  font-size: 25px;
  color: black;
  line-height: 2;
  word-spacing: 2px;
}

.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);

}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5em;
}
.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}

.container1 {
  display: flex;
  align-items: center; /* Center vertically */
}

.icon1 {
  height: 40px; /* Make sure the image doesn't exceed its container */
  margin-left: -5px;
  margin-right: 4px; /* Adjust the margin as needed */
}

.icon2 {
  height: 32px; /* Make sure the image doesn't exceed its container */
  margin-left: px;
  margin-right: 8px; /* Adjust the margin as needed */
}

.sec a {
  text-decoration: underline;
  color: #FB4F13;
}

.sec a:hover {
  text-decoration: underline;
  color: #FFABB1;
}